html, body {
	margin: 0;
	width: 100%;
}

body {
	background-color: #FDFDFD;
	background-image: url("//www.prewired.org/img/dimension.png");
	background-repeat: repeat;
}

center {
	margin-top: 10em;
}

.error {
	width: 40%;
	border: 5px solid #f00;
	background-color: #EDEDED;
	color: red;
	padding: 1em;
}

#ierr {
	position: absolute;
	width: 350px;
	left: calc(50% - 175px);
	box-shadow: 10px 10px 5px gray;
	padding: 2em;
	background-color: #ff0000;
	bottom: 120%;
	color: white;
	transition: bottom 1s ease-out;
}

#ierr > button {
	float: right;
}

#contentdiv {
	width: 70%;
	margin-left: 15%;
}

.regfieldname {
	width: 60%;
}

.regfieldname + td {
	float: right;
}

#registerpage table, #registerpage tbody, #registerpage tr {
	width: 100%;
}

#registercomplete, #signedup {
	height: auto !important;
}

#registercomplete > *, #signedup > * {
	text-align: center;
}

#registercomplete a {
	text-decoration: none;
	font-size: 110%;
	font-weight: 500;
}
