<!DOCTYPE html>
<html>
	<head>
		<title>Sign up for Prewired</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<meta name="description" content="Sign up for Prewired">
	</head>
	<body id=index>
		<center>
			<!--[if lte IE 7 ]>
			  <font color=red size=60> Your browser is not supported! Please upgrade to a more modern browser.</font><br>
			<![endif]-->
			
			<h1>Sign up for Prewired</h1>
			<h3>On {{ date }}</h3>
			{% if error %}
			<div class=error>
				{{ error|safe }}
			</div>
			{% endif %}
			<form action="{{ url_for('yeeeeeha') }}">
				<br>Your name: <input name=name type=text {%- if session.name %} value="{{ session.name }}" {% endif -%} >
				<br><br>
				<input type=submit value="I'm going to Prewired!"><br><br>
				First time? Please <a href="{{ url_for('register') }}">register</a>.
			</form>
		</center>
	</body>
</html>
